main{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.monkey{
    width: 250px;
}

button{
    padding: 16px 32px;
    background-color: var(--bg-light_green);
    border-radius: 16px;
}