<app-default-layout>
    <main>
        <h1 class="text-white">Página não encontrada</h1>
        <img class="monkey" src="../../../assets/images/Monkey.png" alt="Macaco com um martelo">
        <h3 class="text-white">Lorem Ipsum dolor sit</h3>

        <button (click)="redirectToPortfolio()"> Voltar para o portfólio </button>
    </main>
</app-default-layout>