<header>
  <nav class="nav-links">
    <a *ngFor="let link of links" [routerLink]="link.url" [ngClass]="isFocused(link.url) ? 'active' : ''"><h1>{{link.label}}</h1></a>
  </nav>

  <button class="hamburger-menu" (click)="showOptions()">
    <i class="material-icons" style="font-size: 32px;" [ngStyle]="{'color': actualHamburgerIcon.color}">{{actualHamburgerIcon.label}}</i>
  </button>

  <app-hamburger-options
  [(isVisible)]="isOptionsVisible"
  (isVisibleChange)="changeIcon()"
  [options]="links">
  </app-hamburger-options>
</header>
