header{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    height: 80px;
    z-index: 999;
    padding: 8px 16px;
    top: 0;
    position: sticky;

    display: flex;
    justify-content: flex-end;
}

.nav-links{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 32px;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.nav-links a.active{
    color: var(--bg-medium_green);
    position: relative;
    transform: scale(1.1);

    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--bg-light_green);
        width: 100%;
        height: 2px;
    }
}

.hamburger-menu{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 3px 16px;
    border-radius: 16px;
    background-color: var(--bg-white);
    box-shadow: 0 0px 8px rgba(63, 86, 161, 0.4);
}

#menu{
    display: flex;
    position: absolute;
    top: 0;
}
@media screen and (max-width: 400px){
    .hamburger-menu{
        display: flex;
    }
    .nav-links{
        display: none;
    }
}

a{
    transition: all 0.2s ease-in-out;
}

a:hover{
    transform: scale(1.1);
}