/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

:root {
  --text-black: #0E0E0E;
  --text-white: #F4F4F4;
  --bg-purple: #820AD1;
  --bg-medium_purple: #4C0677;
  --bg-deep_purple: #2F0549;
  --bg-crimsom_purple: #BD0FEA;
  --bg-white: #F4F4F4;
  --bg-black: #000000;
  --bg-gray1: #C7C7C7;
  --bg-gray2: #E4E4E4;
  --bg-light_green: #2EEB41;
  --bg-medium_green:#1fa52c;

  --shadow-primary: 0px 0px 4px rgba(240, 240, 240, 0.16);
  --shadow-secondary: 0px 0px 4px rgba(240, 240, 240, 0.24);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: 0;
}

a{
    color: inherit;

    text-decoration: none;
}

.text-white{
    color: var(--text-white);
}

.text-black{
    color: var(--text-black);
}

.text-purple{
    color: var(--bg-crimsom_purple);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.p1, .p2, .p3{
    font-family: 'Poppins', sans-serif;
}

h1,
.h1{
    font-size: 32px;
}

h2,
.h2{
    font-size: 26px;
}

h3,
.h3{
    font-size: 22px;
}

.p1{
    font-size: 18px;
}

.p2{
    font-size: 16px;
}

.underlined{
    text-decoration: underline;
}

.p3{
    font-size: 14px;
}

button{
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
}

.section-divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  
  .section-divider__line {
    width: 100%;
    border: 1px solid var(--bg-crimsom_purple);
  }




