.box {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  color: black;

  box-shadow: var(--shadow-primary);
}

.box__header,
.box__content {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--bg-white);
}

.box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(124, 124, 124, 0.301);
  &:hover {
    cursor: pointer;
    background-color: #fafafada;
  }
}

.box__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: showOrHide 0.25s normal ease-in;
}

@keyframes showOrHide {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.box__content.inactive {
  display: none;
}

.materialLink{
    color: var(--bg-medium_green);
    text-decoration: underline;
    &:hover{
        cursor: pointer;
    }
}

h2,
.p1,
.p2 {
  color: var(--text-black);
}

.chevron-icon {
  color: black;
  min-width: 24px;
}
