<div class="box">
  <div class="box__header" (click)="togglePanel()">
    <div class="box_labels">
      <h2>{{ headerTitle }}</h2>
      <p class="p2">{{ headerSubtitle }}</p>
    </div>
    <mat-icon class="chevron-icon">{{ actualChevron }}</mat-icon>
  </div>
  <div
    class="box__content"
    *ngIf="panelIsActive"
    [ngClass]="panelIsActive ? '' : 'inactive'"
  >
    <p class="p1" *ngFor="let paragraph of contentParagraphs">
      ◉ {{ paragraph.text }}
      <span (click)="redirectToLink(paragraph.link)" class="materialLink">{{ paragraph.link }}</span>
    </p>
  </div>
</div>
