.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 32px;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh;
    
    color: var(--text-white);
    padding: 64px 16px;

    background-color: var(--bg-deep_purple);
}