p{
    text-align: center;
    margin-bottom: 8px;
    color: var(--text-white)
}

.photo{
    border-radius: 8px;
    height: 360px;
}

.photos{
    display: flex;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}