<app-default-layout>
  <section class="section-divider">
    <h1>Sobre mim</h1>
    <hr class="section-divider__line" />
  </section>

  <section>
    <p class="p1">
      Meu nome é Daniel Valerio Al Nahme Chrischner, nasci em Itapeva-SP, em 12
      de Agosto de 2005 ({{setActualAge()}} anos)
    </p>
    <p class="p1">
      Desde criança sempre me interessei pela área de desenvolvimento de
      sistemas, principalmente na seção de Front-end.
    </p>
    <p class="p1">
      Ao longo da minha jornada já realizei diversos cursos de informática, para
      me especializar cada vez mais.
    </p>
    <p class="p1">
      Atualmente estou me formando como Técnico em Desenvolvimento de Sistemas
      através da ETEC Dr Demétrio Azevedo Junior, em Itapeva-SP
    </p>
    <p class="p1">
      Pretendo cursar "Engenharia de Blockchain" em algum momento próximo, pois
      me interesso bastante pela área de Criptomoedas/Redes Descentralizadas
    </p>
    <p class="p1">
      Tenho uma visão promissora desse mercado, acredito que está se tornando
      cada vez mais comum a utilização de transferências digitais, sem
      necessidade de um órgão regulador, permitindo que o usuário tenha mais
      liberdade com seu dinheiro.
    </p>
    <p class="p1">
      Independente da área que estou atuando, procuro sempre dar o meu melhor e
      utilizar todo ao máximo todo o conhecimento que adquiri ao longo do tempo
    </p>
    <p class="p1">
      Sou uma pessoa bem observadora e reservada, prefiro sempre estar
      disposto a ouvir mais do que a falar, para extrair informações e
      transformá-las em aprendizado.
    </p>
  </section>

  <section class="photos">
    <img *ngFor="let image of photos" class="photo" [src]="image" alt="" />
  </section>
</app-default-layout>
