.background{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 20;
}

.card{
    background-color: white;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptyArea{
    width: 100%;
    height: 100%;
}

ul{
    width: 100%;
}

ul li{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
}