<div class="background" *ngIf="isVisible">
  <div class="card">
    <div class="content">
      <ul>
        <li *ngFor="let option of options"
        [ngStyle]="{'background-color': isActive(option.url) ? 'var(--bg-light_green)' : 'white'}" (click)="redirectTo(option.url)">
          <i class="material-icons">{{option.icon}}</i> <h3>{{option.label}}</h3>
        </li>
      </ul>
    </div>
  </div>

  <div class="emptyArea" *ngIf="isVisible" (click)="close()"></div>
</div>
