main{
    width: 100%;
    height: 250px;
    background-color: var(--bg-purple);
    display: flex;
    padding: 8px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

h1{
    color: var(--text-white);
}

.observation{
    text-align: center;
    color: var(--text-white);
    text-shadow: 0px 0px 12px rgba(229, 145, 255, 1);

    animation: balance 2.5s infinite ease-in-out;
}

@keyframes balance{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.08);
    }
    100%{
        transform: scale(1);
    }
}