section {
  width: 100%;
}

.Profile-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.Personal-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;

  @media screen and (max-width: 900px)
  {
    justify-content: center;
  }
}

.Personal-details__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.img-crop {
  width: 260px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0px 0px 16px rgb(229, 52, 245), 0px 0px 60px rgb(252, 252, 252);

  border-radius: 50%;
  overflow: hidden;

  animation: slideShadows 3.5s infinite ease-in-out;
}

@keyframes slideShadows {
  0% {
    box-shadow: 0px 0px 6px rgb(229, 52, 245), 0px 0px 20px rgb(252, 252, 252);
  }
  50% {
    box-shadow: 0px 0px 12px rgb(229, 52, 245), 0px 0px 40px rgb(252, 252, 252);
  }
  100% {
    box-shadow: 0px 0px 6px rgb(229, 52, 245), 0px 0px 20px rgb(252, 252, 252);
  }
}

.Personal-details__img {
  height: 100%;
}

.project-card__image {
  width: 200px;
  border-radius: 8px;
}

ul li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.socialLinks{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.social__link {
  border-radius: 8px;
  border: 1.5px solid var(--text-white);
  padding: 8px 16px;
  transition: 0.2s all ease-in-out;
}

.social__link:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.social_svg {
  fill: var(--bg-light_green);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.Projects {
  width: 100%;
  display: flex;
  gap: 16px;
  position: relative;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.2s all ease-in-out;
}

.project-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Projects:hover .Projects__slider {
  animation-play-state: paused;
}

.Projects__slider {
  display: flex;
  gap: 16px;
  animation: 15s slide infinite linear;
}



.workExperiences {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.Knowledges {
  justify-content: center;

  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  padding: 16px;
  gap: 16px;
  width: 100%;
  border-radius: 16px;
  border: 2.5px solid var(--bg-light_green);
}

.Knowledge {
  display: flex;
  height: max-content;
  gap: 8px;
  align-items: center;
  background-color: var(--bg-white);
  h2 {
    color: var(--bg-deep_purple);
  }

  padding: 8px 12px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.Knowledge__img {
  width: 72px;
  border-radius: 6px;

  transition: all 0.2s ease-in-out;
}

.Knowledge .tool-info {
  display: none;
  background-color: var(--text-black);
  position: absolute;
  top: 0;
  text-wrap: nowrap;
  pointer-events: none;
  border-radius: 8px;
  padding: 12px 16px;

  animation: showToolInfo 0.2s normal ease-in;
}

@keyframes showToolInfo {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.Knowledge:hover {
  position: relative;
  cursor: pointer;

  .tool-info {
    display: block;
  }
}

.Capabilities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 16px;
  gap: 32px;
  border-left: 2px solid var(--bg-crimsom_purple);
}
