<app-default-layout>
  <section class="Profile-details">
    <div class="Personal-details">
      <div class="img-crop">
        <img
          class="Personal-details__img"
          src="../../../assets/images/eu.png"
          alt=""
        />
      </div>

      <div class="Personal-details__info">
        <h2>DANIEL VALERIO AL NAHME CHRISCHNER</h2>
        <ul>
          <li>
            <mat-icon>account_circle</mat-icon>
            <p class="p1">18 Anos</p>
          </li>
          <li>
            <mat-icon>location_on</mat-icon>
            <p class="p1">Itapeva-SP</p>
          </li>
          <li>
            <mat-icon>devices</mat-icon>
            <p class="p1">Desenvolvedor Web / Designer</p>
          </li>
        </ul>
      </div>
      <div class="Social">
        <h2>REDES SOCIAIS</h2>
        <ul class="socialLinks">
          <li *ngFor="let socialLink of socialLinks" class="social__link" (click)="redirectToSocialMedia(socialLink.link)">
            <img
              class="social_svg"
              [src]="socialLink.svgPath"
            />
            <p class="p1">{{socialLink.label}}</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section-divider">
    <h1>Projetos</h1>
    <hr class="section-divider__line" />
  </section>

  <section class="Projects" id="Projects">
    <div class="Projects__slider" id="Projects__slider1">
      <div class="project-card" *ngFor="let project of projects">
        <img class="project-card__image" [src]="project.path" alt="" />
        <h3>{{ project.label }}</h3>
      </div>
    </div>
    <div class="Projects__slider" id="Projects__slider2">
      <div class="project-card" *ngFor="let project of projects">
        <img class="project-card__image" [src]="project.path" alt="" />
        <h3>{{ project.label }}</h3>
      </div>
    </div>
  </section>

  <section class="section-divider">
    <h1>Conhecimentos</h1>
    <hr class="section-divider__line" />
  </section>

  <section class="Knowledges">
    <div class="Knowledge" *ngFor="let tool of tools" (click)="openModal(tool)">
      <img [src]="tool.path" class="Knowledge__img" alt="" />
      <h2>{{ tool.name }}</h2>
      <p class="p1 tool-info">{{ tool.description }}</p>
    </div>
  </section>

  <section class="section-divider">
    <h1>Experiência Profissional</h1>
    <hr class="section-divider__line" />
  </section>

  <section class="workExperiences">
    <app-expansion-panel
    *ngFor="let experience of workExperiences"
    [headerTitle]="experience.title"
    [headerSubtitle]="experience.subtitle"
    [contentParagraphs]="experience.paragraphs"></app-expansion-panel>
  </section>

  <section class="section-divider">
    <h1>Formação</h1>
    <hr class="section-divider__line" />
  </section>

  <section class="Capabilities">
    <div *ngFor="let capability of capabilities">
      <h2>{{ capability.name }}</h2>
      <p class="p1">
        Carga horária: {{ capability.workload }} {{ capability.period }}
      </p>
      <p class="p2 underlined">{{ capability.by }}</p>
    </div>
  </section>
  <app-modal
  [title]='actualModal.title'
  [description]='actualModal.description'
  [(isVisible)]="modalIsOpen"
  [redirectTo]="actualModal.redirectTo"
  [images]="actualModal.images">

  </app-modal>
</app-default-layout>
