.overlay{
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s all ease-in-out;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 10;
}

.modal{
    position: absolute;
    display: flex;
    color: var(--text-black);
    background-color: var(--bg-white);
    border-radius: 8px;
    max-width: 350px;
    
    padding: 8px 12px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

section{
    width: 100%;
}

.modal header{
    border-bottom: 1.5px solid var(--bg-gray1);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.modal header h1{
    width: 100%;
    text-align: center;
}

.modal .content{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    position: relative;
}

.modal .content .slider-group{
    height: max-content;
}

.modal .content .content__images{
    display: flex;
    gap: 8px;
    position: relative;
    
    overflow-x: scroll;
}

.modal .content .content__images::-webkit-scrollbar {
    display: none;
  }

.modal .content .content__images .content__image{
    width: 100%;
    border-radius: 8px;

    user-select: none;
    &:hover{
        cursor: pointer;
    }
}

.modal .content .tip{
    padding: 4px 8px;
    width: 100%;
    border-radius: 0px 0px 8px 8px;

    background-color: rgba(95, 5, 131, 0.5);
    color: var(--text-white);
    transform: translateY(-100%);
    position: absolute;
    pointer-events: none;
}

.redirect-button{
    width: 100%;
    background-color: var(--bg-medium_green);
    color: var(--text-white);
    padding: 8px 12px;
    border-radius: 8px;
}