<div class="overlay" *ngIf="isVisible">
  <div class="modal">
    <header>
      <h1>{{ title }}</h1>
      <button (click)="closeModal()"><mat-icon>close</mat-icon></button>
    </header>

    <section class="content">
      <div class="slider-group">
        <div class="content__images" (mousedown)="slide()">
          <img
            *ngFor="let image of images"
            class="content__image"
            [src]="image"
            alt=""
          />
          
        </div>
        <p class="p2 tip" *ngIf="hasMoreThanOneImage()">
          Arraste para ver mais ->
        </p>
      </div>
      
      <p class="p1">{{ description }}</p>
    </section>

    <section class="action-buttons">
      <button class="redirect-button" *ngIf="redirectTo" (click)="redirectToUrl()">Visitar Página Oficial</button>
    </section>
  </div>
</div>
